[Desktop Entry]
Encoding=UTF-8
Name=CLR
Comment=CLR P2P Cryptocurrency
Comment[fr]=CLR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CLR, eşten eşe kriptografik sanal para birimi
Exec=clr-qt %u
Terminal=false
Type=Application
Icon=clr128
MimeType=x-scheme-handler/clr;
Categories=Office;Finance;
