
## <summary>policy for clr</summary>


########################################
## <summary>
##	Transition to clr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`clr_domtrans',`
	gen_require(`
		type clr_t, clr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, clr_exec_t, clr_t)
')


########################################
## <summary>
##	Execute clr server in the clr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`clr_initrc_domtrans',`
	gen_require(`
		type clr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, clr_initrc_exec_t)
')


########################################
## <summary>
##	Search clr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`clr_search_lib',`
	gen_require(`
		type clr_var_lib_t;
	')

	allow $1 clr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read clr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`clr_read_lib_files',`
	gen_require(`
		type clr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, clr_var_lib_t, clr_var_lib_t)
')

########################################
## <summary>
##	Manage clr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`clr_manage_lib_files',`
	gen_require(`
		type clr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, clr_var_lib_t, clr_var_lib_t)
')

########################################
## <summary>
##	Manage clr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`clr_manage_lib_dirs',`
	gen_require(`
		type clr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, clr_var_lib_t, clr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a clr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`clr_admin',`
	gen_require(`
		type clr_t;
		type clr_initrc_exec_t;
		type clr_var_lib_t;
	')

	allow $1 clr_t:process { ptrace signal_perms };
	ps_process_pattern($1, clr_t)

	clr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 clr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, clr_var_lib_t)

')

