# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AZUS Core Daemon SNAP
Comment=testnet
GenericName=AZUS Digital Currency Daemon Client testnet network
Exec=azus-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/azus_testnet.png
MimeType=x-scheme-handler/azu;
Categories=X-Office;X-Finance;
Keywords=internet;azus;zazu;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
